<h1>Calculadora de IMC</h1>

<div class="input-group">
  <label>Peso (kg):</label>
  <input type="number" placeholder="peso" [(ngModel)]="peso" />
</div>

<div class="input-group">
  <label>Altura (m):</label>
  <input type="number" placeholder="altura" [(ngModel)]="altura" />
</div>

<div class="input-group">
  <label for="edad">Edad:</label>
  <input
    id="edad"
    type="number"
    placeholder="Ingresa tu edad"
    [(ngModel)]="edad"
  />
</div>

<div class="input-group">
  <label for="genero">Género:</label>
  <select id="genero" [(ngModel)]="genero">
    <option value="masculino">Masculino</option>
    <option value="femenino">Femenino</option>
  </select>
  <button (click)="calcularIMC()">Calcular</button>

  <div *ngIf="imc > 0" class="results-container">
    <h3>Tu resultado:</h3>
    <p class="imc-value">{{ imc | number : "1.1-2" }}</p>
    <p class="imc-status">{{ estado }}</p>

    <div class="imc-bar-track">
      <div
        class="imc-indicator"
        [ngClass]="estado.toLowerCase().replace(' ', '-')"
        [style.width]="getIndicatorWidth()"
      ></div>
    </div>
  </div>
</div>
