@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Definimos una animación para el gradiente
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  // Un gradiente "aurora" con más colores
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  color: #333;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  // Aplicamos la animación al fondo
  animation: gradientAnimation 15s ease infinite;
}
